<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' >
</head>
<body>

<h4><strong>Estimado(a) <%= @user.name+" "+@user.last_name+','%></strong></h4>

<p>
<%=@body%><strong><%=@change%></strong>
</p>

<br>

<p>
Para ver el estado de su solicitud haga click <%= link_to "AQUÍ", requests_url+"/home/follow_request"%>
</p>

<br>

<p>
<strong>Atte,</strong><br />
<strong>Administrador Web Dispositivos y Servicios Móviles | solcelulares@ccu.cl</strong>
</p>

</body>
</html>
s
