<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container-fluid">
  <h1><strong> Formulario </strong></h1>
  <hr>
  <h3> Formulario Nuevo </h3>
  <hr>

  <form class="well form-horizontal" action=" " method="post"  id="contact_form">

  <!-- Text input-->

  <div class="form-group">
    <label class="col-md-4 control-label">Nombre</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i></i></span>
    <input  name="first_name" value="Ingrese Nombre" class="form-control"  type="text">
      </div>
    </div>
  </div>


      </form>
    </div><!-- /.container -->

</body>
</html>
