<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
  <%= javascript_include_tag "jquery.min" %>

  <script type="text/javascript">

  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h2><strong> Descarca Documentos </strong></h2>
  <hr>
  <br>
  <br>
</div>




</body>
</html>
