<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identifiación de Usuario y Solicitud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  h2 {
    margin: 0;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    background-color: #fff;
  }

  h4{
    color: #000;
  }

  a, a:hover, a:focus, a:visited {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  .list-group-item {
    font-size: 15px;
  }

  p {
    margin: 0 0 5px;
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #003F2A;  !important;
    border-color: #003F2A;  !important;
  }

  .list-group.help-group {
    margin-bottom: 5px;
    padding-left: 0;
    margin: 0;
    .faq-list {
      display: block;
      top: auto;
      margin: 0 0 5px;
      border-radius: 2px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
      .list-group-item {
        position: relative;
        display: block;
        margin: 0;
        padding: 5px 5px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        color: #616161;
        transition: background-color .2s;
        i.mdi {
          margin-right: 5px;
          font-size: 15px;
          position: relative;
          top: 2px;
        }
        &:hover {
          background-color: #f6f6f6;
        }
        &.active {
          background-color: #f6f6f6;
          font-weight: 700;
          color: rgba(0,0,0,.87);
        }
        &:last-of-type {
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          border-bottom: 0;
        }
      }
    }
  }

  .tab-content.panels-faq {
    padding: 0;
    border: 0;
  }

  .panel.panel-help {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    padding-bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 10px;

    .panel-heading {
      background-color: #f6f6f6;
      padding: 0 10px;
      line-height: 10px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      color: rgba(0,0,0,.87);
    }
    .panel-body {
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: 0;
      }
    }
  </style>


  <script type="text/javascript">
    $(function() {
      // Since there's no list-group/tab integration in Bootstrap
      $('.list-group-item').on('click',function(e){
       	  var previous = $(this).closest(".list-group").children(".active");
       	  previous.removeClass('active'); // previous list-item
       	  $(e.target).addClass('active'); // activated list-item
     	});
    });
  </script>

</head>
<body>

  <div class="container-fluid">
      <hr>
      <h2><strong> Preguntas Frecuentes </strong></h2>
      <hr>
      <br>
      <br>
    <div class="col-md-4">
      <ul class="list-group help-group">
        <div class="faq-list list-group nav nav-tabs">
          <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Solicitudes</a>
          <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account"></i>Dispositivos</a>
          <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i>Roaming</a>
          <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-cart"></i>Documentos</a>
          <a href="#tab5" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-heart"></i>Otros</a>
        </div>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="tab-content panels-faq">

        <div class="tab-pane active" id="tab1">
          <div class="panel-group" id="help-accordion-1">

            <div class="panel panel-default panel-help">
              <a href="#sol_1" data-toggle="collapse" data-parent="#help-accordion-1">
                <div class="panel-heading">
                  <h4>¿Cómo realizo una solicitud?</h4>
                </div>
              </a>

              <div id="sol_1" class="collapse in">
                <div class="panel-body">
                  <p>Debes dirigirte a la pestaña “Solicitudes”, seleccionar el tipo de solicitud que deseas, luego
                    debes identificarte con tu RUT (sin puntos, con guión) y presionar "Enviar".
                    Luego debes rellenar el o los formularios que aparecen debajo "Datos del Usuario" y presionar "Enviar"
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#sol_2" data-toggle="collapse" data-parent="#help-accordion-1">
                <div class="panel-heading">
                  <h4>¿Qué debo hacer si mi dispositivo (Smartphone o Bam) presenta fallas?</h4>
                </div>
              </a>

              <div id="sol_2" class="collapse">
                <div class="panel-body">
                  <p>Debes ir al módulo de solicitudes, y seleccionar la opción “Servicio Técnico”,
                    una vez cursada la solicitud, se entregará un equipo de reemplazo mientras se
                    realiza la reparación del equipo con falla</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#sol_3" data-toggle="collapse" data-parent="#help-accordion-1">
                <div class="panel-heading">
                  <h4>¿Qué puedo hacer en caso de robo o extravío de un dispositivo (Smartphone o Bam)? </h4>
                </div>
              </a>

              <div id="sol_3" class="collapse">
                <div class="panel-body">
                  <p> Lo primero que debes hacer es llamar al 103 desde un móvil Entel o
                    al 800 367 626 desde red fija o móvil solicitando el bloqueo del dospositivo.
                    Además debes dejar una constancia en carabineros, esta es solicitada al
                    momento de realizar la solicitud de dispositivo por robo o pérdida en la pestaña “Solicitudes” </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#sol_4" data-toggle="collapse" data-parent="#help-accordion-1">
                <div class="panel-heading">
                  <h4>p4?</h4>
                </div>
              </a>

              <div id="sol_4" class="collapse">
                <div class="panel-body">
                  <p>...</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane" id="tab2">
          <div class="panel-group" id="help-accordion-2">

            <div class="panel panel-default panel-help">
              <a href="#smp_1" data-toggle="collapse" data-parent="#help-accordion-2">
                <div class="panel-heading">
                  <h4>¿En qué consiste el plan de Cervecería CCU?</h4>
                </div>
              </a>

              <div id="smp_1" class="collapse in">
                <div class="panel-body">
                  <p>Corresponde en un plan limitado de voz desde los 400 minutos
                    según el cargo que ejerces dentro de la compañía, más una bolsa
                    de internet móvil ilimitada de 1GB de capacidad, que al consumirla
                    sigue siendo ilimitada pero la velocidad de navegación disminuye a 128 kb/s.
                    El plan se reinicia todos los 1° de cada mes</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#smp_2" data-toggle="collapse" data-parent="#help-accordion-2">
                <div class="panel-heading">
                  <h4>¿Cuándo me corresponde cambio de equipo?</h4>
                </div>
              </a>

              <div id="smp_2" class="collapse">
                <div class="panel-body">
                  <p>Según el procedimiento establecido por CCU, el cambio de equipo
                    corresponde 24 meses desde la recepción del aparato telefónico </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#smp_3" data-toggle="collapse" data-parent="#help-accordion-2">
                <div class="panel-heading">
                  <h4>¿Dónde puedo ver la antigüedad de mi equipo?</h4>
                </div>
              </a>

              <div id="smp_3" class="collapse">
                <div class="panel-body">
                  <p> En la pestaña de “solicitudes”, debes seleccionar “Renovación
                    de equipo” e ingresar tu numero para luego presionar "valida" y
                    ver si ya corresponde el cambio de tu equipo</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#smp_4" data-toggle="collapse" data-parent="#help-accordion-2">
                <div class="panel-heading">
                  <h4>P4?</h4>
                </div>
              </a>

              <div id="smp_4" class="collapse">
                <div class="panel-body">
                  <p>... </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default panel-help">
              <a href="#smp_5" data-toggle="collapse" data-parent="#help-accordion-2">
                <div class="panel-heading">
                  <h4>¿p5?</h4>
                </div>
              </a>

              <div id="smp_5" class="collapse">
                <div class="panel-body">
                  <p>... </p>
                </div>
              </div>
            </div>

          </div>
        </div>









      </div>
    </div>
  </div>

</body>
</html>
