<!DOCTYPE html>
<html lang="en">
<head>
  <title> Ayuda y Soporte </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    h2 {
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>

  <script type="text/javascript">

  </script>

</head>
<body>

<div class="container-fluid">
  <hr>
  <h2><strong> Ayuda y Soporte </strong></h2>
  <hr>
  <br>
  <br>
</div>




</body>
</html>
