<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>

  <h4><strong> Datos de Solicitud Sim </strong></h4>

  <!-- Obtener nueva informacion del Formulario -->
  <div class="well form-horizontal">

  <div  id= "want_number" class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-4 text-left">
      <%= form.label :want_new_number, 'Desea un número nuevo?'%>
    </p>

    <p class="col-lg-7 col-md-7 col-sm-7 col-xs-8 text-left">
      <%= form.collection_radio_buttons :want_new_number, [['true', 'Si'],
      ['false', 'No, quiero portar un numero']], :first, :last,
    :item_wrapper_class => 'inline', checked: true%>
    </p>
  </div>

  <div id= "number">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
      <p class="col-lg-3 col-md-3 col-sm-3 col-xs-5 text-left">
        <%= form.label :phone_number, 'Número (+56 9)' %>
      </p>

      <p class="col-lg-3 col-md-3 col-sm-3 col-xs-5 pull-left">
        <%= form.text_field :phone_number, style: 'width:100%' %>
      </p>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></div>
    </div>

    <div class="alert alert-danger">Número ingresado no debe estar asociado a un contrato
      vigente con una compañía de telefonía móvi, a menos que sea la misma compañía que le
    presta servicios de telefonía a CCU en su país</div>
  </div>

  </div>

</body>
</html>
