<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .row.content {height: 1150px}
  </style>
</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Sim </strong></h4>
  <hr>

  <div id= "want_number" class="field-center">
    <br>
    <%= form.label :want_new_number, 'Desea un número nuevo?'%>
    <%= form.collection_radio_buttons :want_new_number, [['true', 'Si'], ['false', 'No, quiero portar un numero']], :first, :last,
  :item_wrapper_class => 'inline', checked: true%>
  </div>

  <div id= "number" class="field-center">
    <br>
    <%= form.label :number, 'Ingrese Número: +56 9' %>
    <%= form.text_field :number %>

    <p></p>

    <div class="alert alert-danger">Número ingresado no debe estar asociado a un contrato
      vigente con una compañía de telefonía móvi, a menos que sea la misma compañía que le
    presta servicios de telefonía a CCU en su país</div>
    </div>
  </div>

</body>
</html>
