<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Sim </strong></h4>
  <hr>

  <% if @renew_date > 0 %>
  <div class="alert alert-danger">
    formulario para Sim
  </div>
  <% end %>

  <div class="field-center">
      <%= form.label :request, 'Equipo Seleccionado' %>
      <%= form.text_field :request, value: 'Sim', disabled: true, class:"text-center", size: "30" %>
  </div>


  </div>

</body>
</html>
