<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>
</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Sim </strong></h4>
  <hr>

    <div id= "same_number" class="field-center">
      <% if @items.has_key?(:sim) %>
        <%= form.label :number, 'Número asignado: '%>
        <%= form.label :number, '+56 9 '+@items[:sim].phone_number.to_s, class:"text-center", size: "12" %>
        <p></p>
        <div class="alert alert-danger">Se le asignará el mismo número de teléfono que la SIM
        perdida/robada</div>
        <% if  @items[:sim].phone_number.to_s.empty?%>
            <p></p>
            <div class="alert alert-danger">Sim no tiene un número de teléfono asociado en el sistema</div>
        <% end %>
      <% end %>
    </div>
  </div>

</body>
</html>
