<!DOCTYPE html>
<html lang="en">
<head>
  <title>Información de Usuario</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  </style>

  <script type="text/javascript">
  </script>


</head>
<body>

  <div class="well form-horizontal">

  <!-- Obtener nueva informacion del Formulario -->
  <h4><strong> Datos de Solicitud Servicio Técnico </strong></h4>
  <hr>

  <!-- Dispositivo de reemplazo -->
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :want_replacement, '¿Desea un dispositivo de reemplazo?' %>
    </p>
    <p class="col-md-3 pull-left">
      <%= form.collection_radio_buttons :want_replacement, [[true, 'Si'], [false, 'No']], :first, :last,
      :item_wrapper_class => 'inline', checked: true%>
    </p>
    <div class="col-md-3"></div>
  </div>

  <!-- Descripcion falla-->
  <div class="row">
    <div class="col-md-3"></div>
    <p class="col-md-3 text-left">
      <%= form.label :comment, 'Descripción de Falla'%>
    </p>
    <p class="col-md-4 pull-left">
      <%= text_area_tag :comment, nil, rows: 6, cols: 30,
       placeholder: "Describa lo más detallado posible la falla del dispositivo"%>
    </p>
    <div class="col-md-2"></div>
  </div>

  </div>

</body>
</html>
